{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome | SARA{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block navbar_title %}
SARA: SANTA RITA AUTOMATED RELIEF ASSISTANCE SYSTEM
{% endblock %}

{% block content %}
<main class="main-content">

  <div class="container text-center">
    <h1 class="fw-bold mb-3">
      Santa Rita Automated Relief Assistance System
    </h1>

    <p class="lead mb-4">
      RFID-Based Household Profiling and Aid Distribution System
    </p>

    <a href="{% url 'login' %}" class="custom-button">
      ADMIN LOGIN
    </a>
  </div>

</main>
{% endblock %}
